{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron">
  <div class="container" >
    <div class="row" style="background-color:#0080ff">
      <h1 class="header">A2A Deployment Instructions</h1>
    </div>
    <div>
      <form action="{{url "App.Verify"}}" name="form" method="POST"><br>
        Service Name: <input type="text" name="serviceName" class="serviceName"><br>
        Backend service endpoint implementation type: <input type="text" name="backendServices" class="backendServices"><br>
        <!-- Backend service endpoint public certificate (.p7b) attached to the CO? <input type="text" name="publicCertificate" class="publicCert"><br>
        Backend service endpoint implemented to use the SSL mutual authentication with the ServiceGateway public certificate in the trusted store?(Y/N) <input name="mutualAuth" type="text"><br>
        Primary service endpoint pool <input name="primaryEndpoint" type="text"><br>
        Secondary service endpoint pool <input name="secondaryEndpoint" type="text"><br>
        URI <input name="uri" type="text"><br>
        Dynamic EndPoint?(Y/N) <input name="dynamicEndpoint" type="text"><br>
        Failover type between the service endpoint pools <input name="failover" type="text"><br>
        Active Directory groups (up to 3) to manage Rate Limit feature & their corresponding Rate Limit values per second <input name="manageRateLimit" type="text"><br>
        Active Directory user corresponding to the client <input name="userToClient" type="text"><br>
        Connection timeout <input name="connectionTimeout" type="text"><br>
        Read timeout <input name="readTimeOut" type="text"><br>
        Rate Limit <input name="rateLimit" type="text"><br>
        Max Request Message Size <input name="maxRequestMS" type="text"><br>
        Max Response Message Size <input name="maxResponseMS" type="text"><br>
        Additional Instructions <input name="addInstruct" type="text"><br><br> -->

        <input type="submit" class="submitBtn" style="width:15%"><br>
      </form>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
